.path-mod-interactivevideo #message.h5pupload #content .h5p div:first-child {
    display: none!important;
}
.path-mod-interactivevideo .h5pupload #passfail {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}